h1 {
    border-bottom: 5px solid royalblue;
    
    }

body {
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
    }
    
    .container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: white;
    
    }

    .row {
    margin-bottom: 25px;

    }

    .btn-primary{
        background-color: royalblue;
        border-color: royalblue;

    }
    .btn-primary:hover {
        background-color:slategray;
        border-color: black;
    }

    .btn-primary:active {
        background-color: royalblue;
        border-color: royalblue;

    }